@media (max-width: 375px) {
  body {
    justify-content: start;
  }
  .logo {
    margin: 3rem 0;
  }
  .tip-calculator {
    flex-direction: column;
    max-width: 375px;
    padding: 1.5rem;
  }
  .tips-wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  .tip-display {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    padding: 38px 28px;
  }
  .tips-display span {
    font-size: 2rem;
  }
}
