.tip-calculator {
  width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  gap: 2rem;
  border-radius: 22px;
}

@media (max-width: 375px) {
  .tip-calculator {
    flex-direction: column;
    max-width: 375px;
    padding: 1.5rem;
  }
}
