.tips-display {
  width: 68%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 3rem;
  padding: 3rem 2.5rem;
  border-radius: 15px;
}

.tips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tips-label {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media (max-width: 375px) {
  .tips-display {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    padding: 38px 28px;
  }
  .tips-display span {
    font-size: 2rem;
  }
}
