.bill-input {
  margin-bottom: 1.375rem;
  color: var(--very-dark-cyan);
  background-image: url('../assets/svg/icon-dollar.svg');
}

.people-number input {
  margin-top: 12px;
  color: var(--very-dark-cyan);
  background-image: url('../assets/svg/icon-person.svg');
}

.bills-wrapper input,
.people-number input {
  width: 100%;
}

.people-number label {
  margin-bottom: 12px;
}

.bills-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.bills-wrapper label {
  margin: 12px 0px;
}
