@font-face {
  font-family: 'Space Mono', monospace;
  src: url('../../../public/fonts/space-mono/SpaceMono-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('../../../public/fonts/space-mono/SpaceMono-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('../../../public/fonts/space-mono/SpaceMono-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('../../../public/fonts/space-mono/SpaceMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
