body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--light-grayish-cyan);
}

input {
  display: block;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 12px;
  text-align: right;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 17px 15px;
}

input::placeholder {
  opacity: 0.5;
  color: var(--grayish-cyan);
}

@media (max-width: 375px) {
  body {
    justify-content: start;
  }
}
