* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--light-grayish-cyan);
  font-family: var(--space-mono-ff);
}

label {
  color: var(--dark-grayish-cyan);
  font-weight: var(--bold-fw);
}

input {
  display: block;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 7px;
  text-align: right;
  background-color: var(--very-light-grayish-cyan);
  background-repeat: no-repeat;
  background-position: 17px 15px;
  font-size: var(--form-inputs-fs);
  font-family: var(--space-mono-ff);
  font-weight: var(--bold-fw);
  color: var(--dark-grayish-cyan);
}

input::placeholder {
  opacity: 0.5;
  color: var(--grayish-cyan);
}

@media (max-width: 375px) {
  body {
    justify-content: start;
  }
}
